*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: rgb(26, 24, 24);
}
a{
    text-decoration: none;
}

header{
    width: 100%;
    padding:5px 10px;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(79, 203, 224);
    color: #fff;
    

}
.purchases,.sales{
    margin: 10px 0;
    border-radius: 10px;
    font-size: 18px;
    color:#fff;
    border: none;
    outline: none;
    padding: 10px 10px;
    text-align: center;
    background-color: rgba(110, 180, 180, 0.788);
    cursor: pointer;

}
.purchases:hover,.sales:hover{
    background-color: rgba(98, 102, 103, 0.788);
    color: #fff;

}
.purchases:active,.sales:active{
    background-color: rgba(44, 138, 141, 0.788);

}
.view{
    width: 100%;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.products{
    width: 40%;
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid rgb(59, 211, 238);
    background-color: rgb(41, 165, 186);
    overflow: hidden;
    /* float: right; */
}
#search,select{
    width: 96%;
    height: 40px;
}
select,label{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
label{
    color: #fff;
}


#allProducts{
    
    width: 100%;
    max-height: 300px;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: auto;
    text-align: center;




}

.product{
    width: 100%;
    background-color: rgb(41, 165, 186);
    color:#fff;
    text-transform:capitalize;
    font-weight: bold;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
.product:hover{
    background-color: rgb(46, 160, 116);
}
.product:active{
    background-color: rgb(2, 128, 80);
}

#btnRefrsh{
    min-width: 100px;
    margin: 10px auto;
}
#selectePro,#allProducts input,select{
    width: 95%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;

}

.invoice{
    width: 55%;
    float: left;
    /* position: relative; */
    /* width: 100%; */
    text-align: center;
    border-radius: 5px;
    background-color: rgb(41, 165, 186);
    margin-bottom: 10px;

}
.inputs{
    width: 100%;
    margin: 10px auto;
}
input{
    width: 95%;
    /* height: 30px; */
    margin: 10px 5px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 14px;
    text-align: center;
}
#qua:focus{
    transform: scaleX(1.04);
    background-color: rgb(180, 245, 219);

}
#namInvoice{
    display: block;
}
#namInvoice:focus{
    background-color: rgb(5, 194, 118);

}
.divAll{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: auto;
    /* flex-direction: column; */
    text-align: center;
}
.divAll div{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;


}
.divAll div label{
    width: 100%;
}
#tablePrint{
    /* display: none; */
}
.inputs button{
    width: 22%;

}
input:focus{
    transform: scaleX(1.04);
    background-color: rgb(33, 161, 112);

}
button{
    height: 30px;
    border-radius: 4px;
    border: none;
    margin: 5px;
    background-color: rgb(114, 207, 224);
    color: #fff;


}
button:hover{
    background-color: rgb(97, 196, 218);
   
}
button:active{
    background-color: rgb(8, 155, 189);
   
}
.invoice table,.invoice table td,.invoice table th{

    border: 2px solid #fff;
    color: #fff;
}
table{
    width: 98%;
    margin: 10px auto;
    border: 2px solid #000;
    
}
table th{
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
    border: 2px solid #000;

}
table td{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #000;
    color: #000;
}
table button{
    width: 90%;
    padding: 5px 10px;
    
}
.invoice table,.invoice table td,.invoice table th{

    border: 2px solid #fff;
    color: #fff;
}
@media (max-width:767px) {
    header{
        text-align: center;
        margin: auto;
    }
    header h1{
        font-size: 16px;
    }
    .Setting,header p{
        font-size: 12px;

    }
    .invoice{
        width: 100%;
        margin-bottom: 20px;
    }
    .view{
        flex-direction: column;
        
    
    }
    
    .products{
        width: 100%;
    }
    .product{
        /* width: 25%; */
        height: 50px;
        font-size: 8px;
        padding: 2px;
        /* margin: 0; */

    }
    input{
        width: 20%;
        height: 20px;
        margin: 2px auto;
        padding: 3px;
        font-size: 6px;
    }
    button{
        /* width: 25%; */
        height: 20px;
        margin: 2px;
        padding: 3px;
        font-size: 6px;

    }
    table{
        font-size: 6px;
    }
}
.invoicePrint{
    display: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid;
}
.invoicePrint table{
    text-align: center;
    width: 100%;
}
.invoicePrint .infoSales{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}