*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    /* height: 100vh; */
    color: rgb(26, 24, 24);
  }
  header{
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  .links{
    width: 100%;
    position: relative;
    top: 5;
  }
  .btn-link-home{
    /* background-color:rgb(13, 182, 219); */
    color: #000;

  }
  .links .mainUl{
    display: flex;
    position: fixed;
    padding: 10px;
    
    
  }
  .links .mainUl li{
    margin-left: 20px;
    padding: 10px;
    /* background-color: #43a3d0; */
    /* border-radius: 20%; */
    font-size: 20px;
    position: relative;
    z-index: 1;
  }
  .links .mainUl li:hover{
    cursor: pointer;
    color: #fff;
  }
  .links .mainUl li:hover ul li {
    display: block;
    margin-right: -50px;
  }
  .links ul li ul{
    /* margin-left: -100px; */
    position: absolute;
    margin-bottom: 10px;

  }
  .links ul li ul li{
    width: 180px;
    display: none;
    text-align: center;
  }
  .links ul li ul li:hover{
    color: rgb(15, 12, 12);
    border-radius: 0;
    width: 180px;
    border-bottom: 1px solid #000;


  }
  
  
  
  a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10%;
    padding: 7px;
    text-align: center;
    /* position: relative; */
    /* z-index: 1; */

    
  }
  
  ul{
    list-style: none;
  }
  .container{
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

  }
  
  .home{
    /* height: 100%; */
    background-image: url(../../../img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color:rgb(220, 240, 245);
    color: #000;
    
    opacity: .7;
  }
  

  h3{
    color: #2e2929;
  }
  
  
  .home .app{
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-top:  250px;
    z-index: 0;
    
  }
  .home .app .textHome{
    font-size: 46px;
    text-align: center;
  }
  
  .nameProg{
    opacity: 0.3;
  }
  .divAlarm{
    display: none;
    position: relative;
    z-index: 100;
    
  }
  .alarm{
    width: 50%;
    position: fixed;
    z-index: 10;
    top: 100px;
    left: 25%;
    margin: 50px auto;
    padding: 20px;
    flex-direction: column;
    border: 1px solid rgb(5, 132, 157);
    background-color: rgb(16, 105, 122);
    border-radius: 20px;
    text-align: center;
  
  }
  
  .alarm input{
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    width: 70%;
    margin: 20px auto;
    cursor: pointer;  
    padding: 5px 10px;
  }
  .alarm .buttons button{
    width: 25%;
    background-color: rgb(6, 153, 183);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  
  }
  .alarm .buttons button:hover{
    background-color: rgb(70, 196, 221);


  }
  @media (max-width:1199px) {
    .home .app .app-home{
      width: 70%;
      grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
      
    }
    .home .app .app-home .invo a{
      font-size: 18px;
      padding: 25px 30px;
    }
    
    
  }


  @media (max-width:991px) {
    .home .app .app-home{
      width: 100%;
      grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
      
    }
    .home .app .app-home .invo a{
      font-size: 18px;
      padding: 25px 30px;
    }
  
  
  
}
@media (max-width:767px) {
  .home .app .app-home{
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    grid-gap:5px;
    
  }
  
  .home .app .app-home .invo{
    margin: 10px;
    /* padding: 30px; */
  }
  .home .app .app-home .invo a{
    font-size: 12px;
    
  }
  
}
@media (max-width:550px) {
  .home .app .app-home{
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    grid-gap:5px;
    
  }
  
  .home .app .app-home .invo{
    margin: 5px;
    /* padding: 30px; */
  }
  .home .app .app-home .invo a{
    font-size: 12px;
    
  }
  
}
/* .alarm{
  display: none;
  width: 50%;
  position: fixed;
  z-index: 10;
  top: 100px;
  left: 25%;
  margin: 50px auto;
  padding: 20px;
  flex-direction: column;
  border: 1px solid rgb(5, 132, 157);
  background-color: rgb(16, 105, 122);
  border-radius: 20px;
  text-align: center;

}

.alarm input{
  width: 80%;
  margin: 20px auto;
  cursor: pointer;
}
.alarm .buttons button{
  width: 40%;
  background-color: rgb(6, 153, 183);
  color: #fff;
  font-size: 20px;
  cursor: pointer;

} */