<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>العملاء</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body dir="rtl">
    <div class="app">
        <header>
            <a class="home" href="../home/home.html"><img src="../../img/huanfang.ico" alt="home"></a>
            <span class="userName"></span>
            <h1>العملاء</h1>
            <span class="dateAndTime"></span>
            <a class="exit" href="../../index.html"><img src="../../img/cancel.ico" alt="exit"></a>
        </header>
        <aside>
            <button id="refresh" onclick="refresh();">تحديث</button>
            <button id="othe" onclick="showInputsclients();">عملاء موردين</button>    
        </aside>
        <div class="alarm">
            <div class="inputsAlarm">
                <input type="password" id="passCheck" placeholder="ادخل الباسوورد من فضلك">
                <div class="buttons">
                    <button id="btnCheckEdite" onclick="checkPass();">موافق</button>
                    <button id="btnCancel" onclick="exitePass();">الغاء</button>
                </div>
            </div>
        </div>
        <div class="content">
           


            <section class="inputsSuppliers">
                <form class="addSuppliers" >
                    <div class="priceOnly">
                        <input  type="text" name="" value="" id="nameSuppliers" placeholder="اسم المورد "  required>
                        <input  type="text" name="" value="" id="idPersonalSuppliers" minlength="14" maxlength="14" placeholder="الرقم القومي"  required>
                        <input  type="text" name="" value="" id="phoneSuppliers" maxlength="11" placeholder="رقم التليفون"  required>
                    </div>
                    <div class="priceOnly">
                        <input  type="text" name="" value="" id="typeItems" placeholder="نوع الصنف " required>
                        <input  type="number" name="" value="" id="numItems"  placeholder="العدد"  required>
                        <input  type="number" name="" value="" id="priceItems" onkeyup="getTotalSupp();" placeholder="سعر الصنف"  required>
                        <input  type="number" name="" value="" id="Totalprice" onchange="getPriceSuppliers();" placeholder="اجمالي السعر" readonly required>
                        <input  type="number" name="" value="" id="paidSuppliers" onkeyup="calcRemainSuppliers();" placeholder="المبلغ الواصل"  required>
                        <input  type="number" name="" value="" id="remainSuppliers"  placeholder="المبلغ المتبقي" readonly  required>
                    </div>
                    
                    <div class="priceOnly">
                        <button type="button" class="createSuppliers">اضافة</button>
                        <button type="button" class="viewSearchSuppliers">بحث</button>
                        <button type="button" onclick="">طباعة</button>
                        <button type="reset" >الغاء</button>
                    </div>
                </form>
                <form class="searchSuppliers" style="display: none;">
                    <div class="priceOnly">
                        <input  type="text" name="" value="" id="wordSearchSuppliers" onkeyup="searchSuppliers(this.value)" placeholder="ابحث"  required>
                        <input  type="date" name="" value="" id="dateSuppliers" onchange="searchSuppliers(this.value)"  required>
                    </div>
                    <div class="priceOnly">
                        <button type="button" class="viewAddSuppliers">اضافة</button>
                        <button type="button" class="searchSuppliers" >بحث</button>
                        <button type="button" class="printSuppliers">طباعة</button>
                        <button type="reset" >الغاء</button>
                    </div>
                </form>
                
                <div class="cruds " >
                    <div class="tableAllSuppliers">
                        <table border="1" >
                            <tr>
                                <th colspan="13" class="headTable"> الموردين</th>
                            </tr>
                            <tr>
                                <th>م</th>
                                <th>التاريخ</th>
                                <th>اسم المستخدم</th>
                                <th>اسم المورد</th>
                                <th>نوع الصنف</th>
                                <th> مبلغ الصنف</th>
                                <th>المبلغ الواصل</th>
                                <th>المبلغ المتبقي</th>
                                <th>تعديل</th>
                                <th>حذف</th>
                            </tr>
                            <tbody class="tbodySuppliers">
                                
                                
                            </tbody>
                        </table>
                        
                        
                    </div>
                    
                </div>
                
                
            </section>
        </div>
        
    </div>

   
   
    
    <script src="js/main.js"></script>
</body>
</html>