
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: rgb(26, 24, 24);
    background:url(../../../img/1635178714591.jpg) ;
    background-size: cover;
}
a{
    text-decoration: none;
}

header{
    width: 100%;
    padding:5px 10px;
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(79, 203, 224);
    color: #fff;
    

}
.purchases,.sales{
    margin: 10px 0;
    border-radius: 10px;
    font-size: 18px;
    color:#fff;
    border: none;
    outline: none;
    padding: 10px 10px;
    text-align: center;
    background-color: rgba(110, 180, 180, 0.788);
    cursor: pointer;

}
.purchases:hover,.sales:hover{
    background-color: rgba(98, 102, 103, 0.788);
    color: #fff;

}
.purchases:active,.sales:active{
    background-color: rgba(44, 138, 141, 0.788);

}
.view{
    width: 100%;
    padding: 30px 10px;

}


.invoice{
    position: relative;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(41, 165, 186);

}
.inputs{
    width: 100%;
    margin: 10px auto;
}
input{
    width: 24%;
    /* height: 30px; */
    margin: 10px auto;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 14px;
    text-align: center;
}
#qua:focus{
    transform: scaleX(1.04);
    background-color: rgb(180, 245, 219);

}
button{
    width: 22%;
    height: 30px;
    border-radius: 4px;
    border: none;
    margin: 5px;
    background-color: rgb(114, 207, 224);
    color: #fff;


}
button:hover{
    background-color: rgb(97, 196, 218);
   
}
button:active{
    background-color: rgb(126, 8, 189);
   
}
textarea{
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}
table{
    width: 98%;
    margin: 10px auto;
    border: 2px solid rgb(8, 155, 189);
    
}
table th{
    font-size: 14px;
    background-color: rgb(114, 207, 224);
    text-transform: capitalize;
    color: #fff;
    border: 2px solid rgb(8, 155, 189);

}
table td{
    background-color: #fff;

}
table button{
    width: 70px;
}
@media (max-width:767px) {
    header{
        text-align: center;
        margin: auto;
    }
    header h1{
        font-size: 16px;
    }
    .Setting,header p{
        font-size: 12px;

    }
    .invoice{
        width: 100%;
        margin-bottom: 20px;
    }
    .view{
        flex-direction: column;
        
    
    }
    
    .products{
        width: 100%;
    }
    .product{
        /* width: 25%; */
        height: 50px;
        font-size: 8px;
        padding: 2px;
        /* margin: 0; */

    }
    input{
        width: 20%;
        height: 20px;
        margin: 2px auto;
        padding: 3px;
        font-size: 6px;
    }
    button{
        /* width: 25%; */
        height: 20px;
        margin: 2px;
        padding: 3px;
        font-size: 6px;

    }
    table{
        font-size: 6px;
    }
}